.today{
    display: flex;
    justify-content: center;
    margin-top:5%;
}
.highlights{
    display: flex; 
    width: 100%;
    gap: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.high1{
    width: 30%;
}
.highimg{
    width: 100%;
}
.dpnav{
    display: fixed;
}
@media(max-width: 600px){
    .highlights{
        display:flex;
        flex-wrap: wrap;
        width:100%;
    }
    .cardone{
        width: 90%;
        margin-bottom:2%;
    }
    .cardtwo{
        width: 90%;
        margin-top:2%;
        
    }
    

}